
{% extends "VeterinaireBundle:Article:dashboard_vet.html.twig" %}


{% block head %}

    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('adminpage/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{ asset('adminpage/css/colorpicker.css')}}" />
    <link rel="stylesheet" href="{{ asset('adminpage/css/datepicker.css')}}" />
    <link rel="stylesheet" href="{{ asset('adminpage/css/uniform.css')}}" />
    <link rel="stylesheet" href="{{ asset('adminpage/css/select2.css')}}" />
    <link rel="stylesheet" href="{{ asset('adminpage/css/bootstrap-wysihtml5.css')}}" />
    <link href="{{ asset('adminpage/font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
    <link href="{{ asset('adminpage/css/formulaire.css')}}" rel="stylesheet" />

{% endblock %}
{% block bar_laterale %}

    <div id="sidebar"><a href="{{ path('loginadmin') }}" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
        <ul class="nav">
            <li ><a href="{{ path('affiche') }}"><i class="icon icon-home"></i> <span> Dashboard</span></a> </li>
            <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span> Gestion Articles</span> <span class="label label-important">2</span></a>
                <ul>
                    <li class="active"> <a href="#"><i class="icon icon-signal"></i> <span> Ajout Article</span></a> </li>
                    <li ><a href="{{ path('afficherArticlesBack') }}"><i class="icon icon-home"></i> <span> Afficher Articles</span></a> </li>
                </ul>
            </li>
            <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span> Gestion Cabinets</span> <span class="label label-important">2</span></a>
                <ul>
                    <li class="active"> <a href="{{ path('addCabinet')}}"><i class="icon icon-signal"></i> <span>  Ajout Cabinet</span></a> </li>
                    <li ><a href="{{ path('afficheCabinetBack')}}"><i class="icon icon-home"></i> <span>  Afficher Cabinet</span></a> </li>
                </ul>
            </li>

        </ul>
    </div>
{% endblock %}
 {% block contenu %}

     <div id="content">
         <!--breadcrumbs-->
         <div id="content-header">
             <div id="breadcrumb"> <a href="{{ path('loginadmin') }}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
         </div>
         <div class="widget-box">
             <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                 <h5>Modification article</h5>
             </div>
             <div class="widget-content nopadding" >
                 <form action="#" method="POST" class="form-horizontal" >
                     <div class="control-group" id="cadre">
                         <label class="control-label">Titre Article:</label>
                         <div class="controls">
                             <input type="text" required="required"  class="span11" id="input" placeholder="titre de votre article" name="titre"/>
                         </div>
                     </div>
                     <div class="control-group" id="cadre">
                         <label class="control-label">Description Article:</label>
                         <div class="controls">
                             <input type="text" required="required"  class="span11" id="input" placeholder="Description de votre article" name="description"/>
                         </div>
                     </div>
                     <div class="control-group" id="cadre">
                         <label class="control-label">Image Article:</label>
                         <div class="controls">
                             <input required="required"  type="file" name="piecejointe"/>
                         </div>
                     </div>
                     <div class="form-actions">
                         <button type="submit" value="submit" class="btn btn-success">Enregistrer</button>
                     </div>
                 </form>
             </div>

         </div>
     </div>
 {%endblock%}

{% block script %}

    <script src="{{ asset('adminpage/js/jquery.min.js') }}"></script>
    <script src="{{ asset('adminpage/js/jquery.ui.custom.js') }}"></script>
    <script src="{{ asset('adminpage/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('adminpage/js/jquery.uniform.js') }}"></script>
    {#<script src="{{ asset('adminpage/js/select2.min.js') }}"></script>#}
    <script src="{{ asset('adminpage/js/jquery.validate.js') }}"></script>
    <script src="{{ asset('adminpage/js/matrix.js') }}"></script>
    <script src="{{ asset('adminpage/js/matrix.form_validation.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('adminpage/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('adminpage/css/bootstrap-responsive.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('adminpage/css/uniform.css') }}" />
    <link rel="stylesheet" href="{{ asset('adminpage/css/matrix-style.css') }}" />
    <link rel="stylesheet" href="{{ asset('adminpage/css/matrix-media.css') }}" />
    <link href="{{ asset('adminpage/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <script>
        $('.textarea_editor').wysihtml5();
    </script>
{% endblock %}

