{% extends "ZanimauxBundle:User:gestionUtilisateur.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block head %}
    {{ parent() }}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
    <title>{% block title %}{{ parent() }} -Ajoutparc{% endblock %}</title>


{% endblock %}
{% block bar_laterale %}
    <div id="sidebar"><a href="{{ path('loginadmin') }}" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
        <ul>
            <li><a href="{{ path('redirectDresseur') }}"><i class="icon icon-home"></i> <span>Mes Parcs</span></a> </li>
            <li class="active"> <a href="{{ path('creerparc') }}"><i class="icon icon-signal"></i> <span>Ajout Parc</span></a> </li>
            <li> <a href="{{ path('profileDresseur') }}"><i class="icon icon-inbox"></i> <span>Profile</span></a> </li>

    </div>
{% endblock %}

    {% block form %}
        <center>
        <form action="{{ path('creerparc') }}" method="POST" class="form-horizontal">
            {{form_errors(form)}}


            <fieldset>
                <h2 style="color: red">Creation parc</h2></br>
                <div class="form-group">
                    <label for="form_nomParc" class="col-md-2 control_label">Votre nom :</label>
                    <div class="col-md-3">
                        {{ form_widget(form.cinDresseur)}} </div>
                </div>
                <div class="form-group">
                    <label for="form_nomParc" class="col-md-2 control_label">Nom du parc :</label>
                    <div class="col-md-3">
                        {{ form_widget(form.nomParc) }} </div>
                </div>
                <div class="form-group">
                    <label for="form_nomParc" class="col-md-2 control_label">Categorie d'animaux:</label>
                    <div class="col-md-3">
                        {{ form_widget(form.CategorieDressage) }} </div></div>
                <div class="form-group">
                    <label for="form_adresseParc" class="col-md-2 control_label">Adresse :</label>
                    <div class="col-md-3">
                        {{ form_widget(form.adresseParc) }} </div>
                </div>

                <div class="form-group">
                    <label for="form_villeParc" class="col-md-2 control_label">Ville :</label>
                    <div class="col-md-3">
                        {{ form_widget(form.villeParc) }} </div>
                </div>
                <div class="form-group">
                    <label for="form_codePostaleParc" class="col-md-2 control_label">Code postale :</label>
                    <div class="col-md-3">
                        {{ form_widget(form.codePostaleParc) }} </div>
                </div>
                <div class="form-group">
                    <label for="form_photoParc" class="col-md-2 control_label">Photo du parc :</label>
                    <div class="col-md-3">
                        {{ form_widget(form.photoParc) }} </div>
                </div>
                <br>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Valider <span class="glyphicon glyphicon-ok"></span></button>
                    </div>
                </div>
            </fieldset>

            {{ form_widget(form._token) }}
        </form>
        </center>
    {% endblock %}




