<html>
<head>
     {% block head %}
    <meta charset="utf-8"/>
    <title>{% block title %}Layout principal {% endblock %}</title>
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <link href="{{  asset('css/bootstrap.css') }}" rel="stylesheet" />
        <!-- FONT AWESOME STYLE  -->
        <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/boutton.css') }}" rel="stylesheet" />
        <!-- ANIMATE STYLE  -->
        <link href="{{ asset('css/animate.css') }}" rel="stylesheet" />
        <!-- FLEXSLIDER STYLE  -->
        <link href="{{ asset('css/flexslider.css') }}" rel="stylesheet" />

        <!-- CUSTOM STYLE  -->
        <!-- GOOGLE FONTS  -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css' />
        <link href="{{ asset('adminpage/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
        <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel="stylesheet">
        <link href="{{asset('//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')}}" rel="stylesheet" id="bootstrap-css">
         <script src="{{asset('//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')}}"></script>
         <script src="{{ asset('//code.jquery.com/jquery-1.11.1.min.js') }}"></script>
    {% endblock %}
    {% endblock %}
</head>
<body>
{% block up %}
<div id="container">

    <!------ Include the above in your HEAD tag ---------->

    <nav class="navbar navbar-default navbar-fixed-top" style="height: 1px">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('redirect') }}"><img src="{{ asset('img/logo2.png') }}" style="position: absolute;	top: 0;left: O;bottom: 0; "/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav" style="position: absolute;	top: 0;right: 0;bottom: 0; ">
                        <li style="margin-right : 0.5px;font-size: x-small;"> <div   class="cont" ><a data-animation="ripple" href="{{ path('deconnexion') }}" ><i class="fas fa-paw"></i> Déconnexion</a></div> <span class="sr-only">(current)<p>      </p></span></li>
                        <li>  <div class="cont"><a  style="text-align: center;font-size: x-small;" data-animation="ripple" href="{{ path('profile') }}" ><i class="fas fa-paw"></i> Profil</a></div></li>
                    </ul>



                <ul class="nav navbar-nav navbar-right" style="position: absolute;	top: 0;right: 240px;bottom: 0; ">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span> 7 - Produits<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-cart" role="menu">
                            <li>
                  <span class="item">
                    <span class="item-left">
                        <img src="http://lorempixel.com/50/50/" alt="" />
                        <span class="item-info">
                            <span>Item name</span>
                            <span>23$</span>
                        </span>
                    </span>
                    <span class="item-right">
                        <button class="btn btn-xs btn-danger pull-right">x</button>
                    </span>
                </span>
                            </li>
                            <li>
                  <span class="item">
                    <span class="item-left">
                        <img src="http://lorempixel.com/50/50/" alt="" />
                        <span class="item-info">
                            <span>Item name</span>
                            <span>23$</span>
                        </span>
                    </span>
                    <span class="item-right">
                        <button class="btn btn-xs btn-danger pull-right">x</button>
                    </span>
                </span>
                            </li>
                            <li>
                  <span class="item">
                    <span class="item-left">
                        <img src="http://lorempixel.com/50/50/" alt="" />
                        <span class="item-info">
                            <span>Item name</span>
                            <span>23$</span>
                        </span>
                    </span>
                    <span class="item-right">
                        <button class="btn btn-xs btn-danger pull-right">x</button>
                    </span>
                </span>
                            </li>
                            <li>
                  <span class="item">
                    <span class="item-left">
                        <img src="http://lorempixel.com/50/50/" alt="" />
                        <span class="item-info">
                            <span>Item name</span>
                            <span>23$</span>
                        </span>
                    </span>
                    <span class="item-right">
                        <button class="btn btn-xs btn-danger pull-right">x</button>
                    </span>
                </span>
                            </li>
                            <li class="divider"></li>
                            <li><a class="text-center" href="">View Cart</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div>

    </div>

<!-- LOGO HEADER END-->
    {% block menu %}
        <section class="menu-section" >
            <div class="container">
                <div class="row ">
                    <div class="col-md-12">

                        <div class="navbar-collapse collapse ">
                            <ul id="menu-top" class="nav navbar-nav navbar-right">
                                <li><a href="{{ path('affiche') }}">Accueil </a></li>
                                <li><a href="index.html"> Veterinaire </a></li>
                                <li><a href="{{ path('afficher_refuge_internaute') }}"> Refuge </a></li>
                                <li ><a href="{{ path('affiche_m') }}">Magasin </a></li>
                                <li><a href="{{ path('listparc') }}"> Dresseur & pet-sitter </a></li>
                                <li><a href="{{ path('listparc') }}"> Annonce</a></li>
                                <li><a href="{{ path('listparc') }}">evenement</a></li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    {% endblock %}

    {% endblock %}
    <!-- MENU SECTION END-->
    {% block  contenu%}
        <div id="slideshow-sec">
            <div id="carousel-div" class="carousel slide" data-ride="carousel" >

                <div class="carousel-inner">
                    <div class="item active">

                        <img style="width: 1274px; height: 400px" src="{{ asset('img/1.jpg') }}" alt="" />
                        <div class="carousel-caption">
                            <h1 class="wow slideInLeft" data-wow-duration="2s" > Pour le bonheur</h1>
                            <h2 class="wow slideInRight" data-wow-duration="2s" >des animaux</h2>
                        </div>

                    </div>
                    <div class="item">
                        <img  src="{{ asset('img/Accessoires.jpg') }}" alt="" />
                        <div class="carousel-caption">
                            <h1 class="wow slideInLeft" data-wow-duration="2s" >Pour le bonheur</h1>
                            <h2 class="wow slideInRight" data-wow-duration="2s" >des animaux</h2>
                        </div>
                    </div>
                    <div class="item">
                        <img style="width: 1274px; height: 400px" src="{{ asset('img/vet.jpg') }}" alt="" />
                        <div class="carousel-caption">
                            <h1 class="wow slideInLeft" data-wow-duration="2s" >Pour le bonheur </h1>
                            <h2 class="wow slideInRight" data-wow-duration="2s" >des animaux</h2>
                        </div>

                    </div>
                </div>
                <!--INDICATORS-->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-div" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-div" data-slide-to="1"></li>
                    <li data-target="#carousel-div" data-slide-to="2"></li>
                </ol>
                <!--PREVIUS-NEXT BUTTONS-->
                <a class="left carousel-control" href="#carousel-div" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-div" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <!-- SLIDESHOW SECTION END-->
        <div class="below-slideshow">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="txt-block">


                            <i class="fa fa-lastfm fa-4x"></i>
                            <h4>Magasins</h4>
                            <p >
                                Ensemble d'animalerie en ligne spécialisée dans la vente d'aliments et accessoires pour animaux de compagnie : chien, chat, rongeur, etc. Nous avons regroupé pour vous les plus grandes marques pour votre animal de compagnie :
                                Hill's, Proplan, Virbac, et bien d'autres …
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="txt-block">


                            <i class="fa fa-yelp fa-4x"></i>
                            <h4>Veterinaire</h4>
                            <p >
                                Les propriétaires se préoccupent de plus en plus de la santé et le bien être de leurs animaux.
                                Pour cela, Zanimaux a mis en place un service qui permet à chacun de bénéficier gratuitement de conseils personnalisés de vétérinaires.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="txt-block">


                            <i class="fa fa-ioxhost fa-4x"></i>
                            <h4>Dresseur et refuge</h4>
                            <p >
                                Nous offrons également de nombreux conseils sur l'éducation grâce à nos dresseurs.
                                Si vous souhaitez adopter un animal, nous vous invitons à vous rendre sur le portail d'adoption Refuge qui centralise les annonces de plusieurs refuges. De nombreux animaux vous attendent...
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- BELOW SLIDESHOW SECTION END-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="tag-home">

                        On s'amuse, on partage, on sort, on bricole et on s'engage sur Zanimaux.com !</h1>
                    <hr />
                </div>
            </div>
        </div>
        <!-- TAG HOME SECTION END-->

        <div class="container">

            <div class="row pad-set">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="just-txt-div">
                        <h2>Les 7 ordres de base de l'éducation canine :</h2>
                        <br />
                        <p>
                            Un chien qui n’est pas dressé et votre vie peut vite se transformer en cauchemar.
                            Je vous assure qu’un chien non<strong> dressé</strong> aux ordres de base est un chien qui n’est pas<strong> heureux</strong>.

                        </p>
                        <p>
                            Lui apprendre à rester couché, assis, à ne pas bouger ou à revenir quand on l’appelle est essentiel pour lui comme pour vous.
                            Chaque ordre doit s’apprendre selon une méthode bien précise.
                        </p>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="just-txt-div">
                        <br />
                        <iframe class="vedio-style" src="https://www.youtube.com/embed/NT0GFsHCIxM"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!--VEDIO SECTION END-->
        <div class="parallax-like">
            <div class="overlay">


                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="just-txt-div">
                                <strong> 300+</strong>
                                <p>
                                    Produits
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="just-txt-div">
                                <strong> 100+</strong>
                                <p>
                                    Refuges <br>
                                    et Parcs
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="just-txt-div">
                                <strong> 200+</strong>
                                <p>
                                    Veterinaires
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="just-txt-div">
                                <strong> 50+</strong>
                                <p>
                                    Evenements
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PARALLAX LIKE SECTION END-->
        <div class="just-sec">


            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1 class="head-line">Liste d'evenements</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="just-txt-div">


                            <i class="fa fa-exchange fa-3x"></i>
                            <h4>Hand Crafted </h4>
                            <p >
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis felis dolor vitae.
                            </p>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="just-txt-div">


                            <i class="fa fa-key fa-3x"></i>
                            <h4>Easy To Customize</h4>
                            <p >
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis felis dolor vitae.
                            </p>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="just-txt-div">


                            <i class="fa fa-legal fa-3x"></i>
                            <h4>Light Weight</h4>
                            <p >
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis felis dolor vitae.
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--JUST SECTION END-->
        <div class="container " >
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="head-line">Les meilleurs ventes </h1>
                    <br />
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                    <div class="flexslider carousel">
                        <ul class="slides">
                            <li>
                                <img src="{{ asset('img/client.jpg') }}" />
                            </li>
                            <li>
                                <img src="{{ asset('img/client.jpg') }}" />
                            </li>
                            <li>
                                <img src="{{ asset('img/client.jpg') }}" />
                            </li>
                            <li>
                                <img src="{{ asset('img/client.jpg') }}" />
                            </li>
                            <li>
                                <img src="{{ asset('img/client.jpg') }}" />
                            </li>
                            <li>
                                <img src="{{ asset('img/client.jpg') }}" />
                            </li>
                            <li>
                                <img src="{{ asset('img/client.jpg') }}" />
                            </li>
                            <li>
                                <img src="{{ asset('img/client.jpg') }}" />
                            </li>
                            <li>
                                <img src="{{ asset('img/client.jpg') }}" />
                            </li>
                            <li>
                                <img src="{{ asset('img/client.jpg') }}" />
                            </li>
                            <li>
                                <img src="{{ asset('img/client.jpg') }}" />
                            </li>
                            <li>
                                <img src="{{ asset('img/client.jpg') }}" />
                            </li>
                            <li>
                                <img src="{{ asset('img/client.jpg') }}" />
                            </li>
                            <li>
                                <img src="{{ asset('img/client.jpg') }}" />
                            </li>
                            <li>
                                <img src="{{ asset('img/client.jpg') }}" />
                            <li>
                                <img src="{{ asset('img/client.jpg') }}" />
                            </li>
                            <li>
                                <img src="{{ asset('img/client.jpg') }}" />
                            </li>
                            <li>
                                <img src="{{ asset('img/client.jpg') }}" />
                            </li>
                            <li>
                                <img src="{{ asset('img/client.jpg') }}" />
                            </li>
                            <li>
                                <img src="{{ asset('img/client.jpg') }}" />
                            </li>
                        </ul>
                    </div>
                    <hr />
                    <br />
                </div>
            </div>
        </div>
        <!--CLIENT SECTION END-->
        <div class="container " >
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-12 set-div">
                    <div class="just-txt-div text-center">
                        <h3><strong>-- Quel animal vous ressemble le plus? --</strong> </h3>
                        <p>
                            A treavers notre quiz, vous pouvez savoir quelle  <strong> race </strong> vous convient le plus.
                            D'habord, vous préférez:
                            <br><br>
                        </p>
                        <a class="btn btn-info btn-lg" href="{{ path('questionnaire_chat_internaute') }}">Chat</a>
                        &nbsp;&nbsp;
                        <a class="btn btn-success btn-lg" href="{{ path('questionnaire_chien_Internaute') }}">Chien </a>
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}
    <!--SET-DIV SECTION END-->
    {% block piedPage %}
    <div class="footer-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">


                    <h3> <strong>Site</strong> </h3>
                    <p style="padding-right:50px;" >
                        Zanimaux est site permettant la communication avec plusieurs vétérinaires, dresseurs ainsi que la possibilités
                        de commander différents produits en ligne (Accessoires, aliments, ...)
                        Et enfin de déposer des annonces en plus de faire des demandes d'adoptions.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 social-div">



                    <h3> <strong>Reseaux sociaux</strong> </h3>
                    <br>

                    <a href="#" ><h4>FACEBOOK </h4></a>
                    <a href="#" ><h4>TWITTER </h4></a>
                    <a href="#" ><h4>LINKEDIN </h4></a>


                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <h3> <strong>Emplacement</strong> </h3>
                    Vous nous trouvez à:
                    <br />
                    <h4>Z.I. Chotrana II B.P. 160، Pôle Technologique El Ghazela، ,</h4>
                    <h4>Esprit Ghazela,</h4>
                    <h4>Code postale: 2088</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr />
                    <div style="text-align:right;padding:5px;">
                        &copy;2018 Zanimaux.com | <a href="{{ path('affiche') }}" style="color:#fff;" target="_blank" >Réaliser par: Enigma</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
        <!--BOOTSTRAP SCRIPTS PLUGIN-->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <!--WOW SCRIPTS PLUGIN-->
        <script src="{{ asset('js/wow.js') }}"></script>
        <!--FLEXSLIDER SCRIPTS PLUGIN-->
        <script src="{{ asset('js/jquery.flexslider.js') }}"></script>
        <!--CUSTOM SCRIPTS -->
        <script src="{{ asset('js/custom.js') }}"></script>
    </div>
</div>
{% endblock %}
</body>
</html>