{% extends "ZanimauxBundle:User:InterfaceDresseur.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block head %}
    {{ parent() }}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>{% block title %}{{ parent() }} -profile{% endblock %}</title>
    <script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('js/event.js') }}"></script>

{% endblock %}

{% block menu %}
    <section class="menu-section">
        <form class="navbar-form navbar-right" method="post" action="{{ path('rechercher_e') }}">
            <nav>
                <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search" name="motcle">
            </nav>
        </form>
        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a href="{{ path('redirectDresseur') }}">Accueil</a></li>
                            <li><a href="index.html">Veterinaire</a></li>
                            <li><a href="{{ path('consulter_a') }}">Annonce</a></li>
                            <li><a href="{{ path('read_e') }}" >Evenement</a></li>
                            <li><a href="{{ path('listparc') }}">Parc</a></li>
                            <li><a href="{{ path('profileDresseur') }}" class="menu-top-active">Profil</a></li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </section>
{% endblock %}

    {% block contenu %}
<div class="just-sec" id="port-folio">


    <div class="container">

        <div class="row " >
            <ul id="filters" >

                <ul class="event-list">
                    <li style="background-color: white;">
                        <time datetime="{{ e }}">
                            <span class="day">4</span>
                            <span class="month">Jul</span>
                            <span class="year">2014</span>
                            <span class="time">ALL DAY</span>
                        </time>
                        <img alt="Independence Day" src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg">
                        <div class="info">
                            <h2 class="title">Independence Day</h2>
                            <p class="desc">United States Holiday</p>
                        </div>
                        <div class="social">
                            <ul>
                                <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                                <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                                <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>


                <table border="0"align="center">
                    <tr>

                        <td style="padding-right:50px;">Lieu</td>
                        <td style="padding-right:50px;">date de debut</td>
                        <td style="padding-right:50px;">date de fin</td>
                        <td style="padding-right:50px;">Type</td>
                        <td style="padding-right:50px;">Titre</td>
                        <td style="padding-right:50px;"></td>

                    </tr>

                    {% for evenement in evenements %}
                        <tr>
                            <td style="padding-right:50px;">{{ evenement.lieu}}</td>
                            <td style="padding-right:50px;">{{ evenement.datedebut|date('d-m-y') }}</td>
                            <td style="padding-right:50px;">{{ evenement.datefin|date('d-m-y') }}</td>
                            <td style="padding-right:50px;">{{ evenement.type }}</td>
                            <td style="padding-right:50px;">{{ evenement.titre }}</td>



                            {% if  evenement.cin == user.id  %}
                            <td><a href="{{ path("update_e",{ "idEvt":evenement.idEvt})}}">Modifier</a></td>
                            <td><a href="{{ path("delete_e",{ "idEvt": evenement.idEvt })}}">Supprimer</a></td>
                            {% endif %}
                            <td><a href="{{ path("detailEvent",{ "idEvt": evenement.idEvt })}}">detaille</a></td>
                        </tr>
                    {% endfor %}
                </table>
                <br>
                <button type="button"> <a style="color: black" href="{{ path('add_e') }}">Ajouter Evenement</a></button>





            </ul>



        </div>
    </div>
{%endblock %}